---
layout: default
title: Home
---

<div class="pages">
  {% assign sorted_pages = site.pages | sort:"order" %}
	{% for page in sorted_pages %}
		{% if page.layout == "page" %}
	  <div class="page">
	    <h1 class="page-title">
				<a href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}">{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</a>
	    </h1>
			<p class="just">{{ page.description | strip_html | truncatewords:50}}
			<a class="read-more" href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}">[Read More]</a>
			</p>
	  </div>
		{% endif %}
  {% endfor %}
</div>
